body{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm5SyBBpIZIuV1gOQZkuJYYgq266eNRQKl2cRIXevVgLbk5anmYkVwQvyWTyxpBHpWAWg&usqp=CAU");
    background-repeat:no-repeat;
    background-size:cover;
}

a:hover{
	color: pink;
}


